footer {
  background-color: #fafb55;
  border: 10px solid black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;

  .footer_list {
    display: flex;
    margin: 0;
    list-style: none;
    justify-content: space-evenly;
  }
}
