.logo {
  width: 100px;
}
h1 {
  font-family: "Allerta Stencil", sans-serif;
  text-align: center;
}

h2 {
  font-family: "Allerta Stencil", sans-serif;
  text-align: center;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 80%;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;

  class {
    width: 80px;
    height: 80px;
  }
}

.col {
  width: 100%;
}
